.foto-container {
    text-align: center;
  }
  
  .imagen-opcion {
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .imagen-opcion:hover {
    border-color: #3880ff;
  }
  