<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicia Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (submit)="login()">
        <ion-input
          placeholder="Usuario"
          type="text"
          clearInput
          [(ngModel)]="username"
          name="username"
          required
          (click)="clearField('username')"
        ></ion-input>
        <ion-input
          placeholder="Contraseña"
          type="password"
          clearInput
          [(ngModel)]="password"
          name="password"
          required
          (click)="clearField('password')"
        ></ion-input>
        <ion-button expand="block" color="secondary" type="submit">
          Ingresar
        </ion-button>
        <ion-button expand="block" color="tertiary" routerLink="/registro">
          Crear Cuenta
        </ion-button>        
      </form>
      <p *ngIf="error" class="error-message">{{ error }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
