
<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="agregarMascota()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="mascota.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input type="number" [(ngModel)]="mascota.edad" name="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Raza</ion-label>
      <ion-input [(ngModel)]="mascota.raza" name="raza"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Color</ion-label>
      <ion-input [(ngModel)]="mascota.color" name="color"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Agregar Mascota</ion-button>
  </form>
</ion-content>
