
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Mascota</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating">Nombre de la Mascota</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo (Perro, Gato, etc.)</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" min="0" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Raza</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <div class="boton-agregar">
      <ion-button expand="block" type="submit">Guardar Mascota</ion-button>
    </div>
  </form>
</ion-content>
