<ion-header>
  <ion-toolbar>
    <ion-title>Mis Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="animated-list">
    <ion-list>
      <ion-item *ngFor="let mascota of mascotas" (click)="verPerfilMascota(mascota)">
        <ion-label>
          <h2>{{ mascota.nombre }}</h2>
          <p>Edad: {{ mascota.edad }} años</p>
          <p>Raza: {{ mascota.raza }}</p>
          <p>Color: {{ mascota.color }}</p>
        </ion-label>
        <ion-button fill="outline" color="danger" (click)="eliminarMascota(mascota.id)">
          Eliminar
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div class="boton-agregar">
    <ion-button expand="block" color="primary" routerLink="/agregar-mascota">
      Agregar Mascota
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/api">
      Acceder a la API
    </ion-button>
    <ion-button expand="block" color="secondary" routerLink="/geolocalizacion">
      Mostrar Geolocalización
    </ion-button>
  
  </div>  
</ion-content>
