<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Mascotas</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <div class="animated-list">
    <ion-list *ngIf="mascotas.length > 0">
      <ion-item *ngFor="let mascota of mascotas">
        <ion-label>
          <h2>{{ mascota.nombre }}</h2>
          <p>{{ mascota.edad }} años</p>
          <p>{{ mascota.raza }}</p>
          <p>{{ mascota.color }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
 
    <div class="empty-state" *ngIf="mascotas.length === 0">
      <ion-icon name="paw" size="large"></ion-icon>
      <h2>No hay mascotas registradas</h2>
      <p>Agrega tu primera mascota</p>
    </div>
  </div>
 
  <div class="add-button-container">
    <div class="add-button-wrapper" (click)="goToAgregarMascota()">
      <ion-button class="plus-button" fill="clear">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <p class="add-text">Agregar Mascota</p>
    </div>
  </div>
 </ion-content>